/*Style the index page */


• {
  box-sizing: border-box!important;
}

* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: Roboto;
  font-size: 12px;
  color: #424242;
}

h1, h2, h3, h4, h5 {
  margin: 0;
}


header, nav, footer, section, article, div, figure {
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}


body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ddd;
}
header {
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  color: #697681;
  background: white;
  height: 85px;
  padding: 15px;
}



section {
  padding: 16px;
}
.flex-container {
  display: flex;
}
.space-between {
  justify-content: space-between;
}
.vertical-centerer {
  height: 100%;
  flex-direction: column;
  justify-content: center;
}
.header-content {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}
.logo {
  width: 200px;
  display: inline-block;
  margin: 10px 0px;
}
.menu {
  list-style: none;
  list-style-type: none;
}
.menu > li {
  display: inline;
  margin-left: 37.5px;
}



.wrapper {
display: grid;
}
* {box-sizing: border-box;}

.wrapper {
border: 2px solid #f76707;
border-radius: 5px;

}

.wrapper > div {
border: 2px solid #ffa94d;
border-radius: 5px;
padding: 1em;
color: #d9480f;
}


header {
  background-color: #000000;
  height: 85px;
}


.header__menu svg {
  width: 32px;
  fill: #E0E0E0;
}

.header__logo {
    height: 72px;
    margin-right: 1em;
    vertical-align: top;
    margin-top: 12px;
}


a .header__title {
    font-weight: 400;
    font-size: 4em;
    margin: 0.5em 0.25em;
    display: inline-block;
    text-decoration: none;
}


ul.menu li {
  vertical-align: top;
}

.hero {
  display: flex;
  height: 450px;

}

.hero.justify-content {
  justify-content: center;
}

video {
  width: 456px;
  height: 340px;
}

@media screen and (min-width:300px) {
  video {width: 300px; height: 169px;}
}

@media screen and (min-width:500px) {
  video {width: 600px; height: 338px;}
}

/*-- To apply different styles to different devices charcteristics such as width,
height, or device pixel ratio; You can chage everything from background images
to restructuring the site's layout and even more.
Simply include an additional stylesheet in your page, with media query. -->

<link rel="stylesheet" media="screen and (min-width: 300px)" href="pattern.css">
<link rel="stylesheet" media="screen and (min-width: 500px)" href="over500.css">


<!--The first from teh top will apply when the screen is large than 300pixels. The second style from the top will only apply if the screen is over 500 pixels.
The media attribute type in this case is the value screen and min-width 500px.
Other media type is print if you think your users will print the page -->

*/
/* Style products and product*/
.product {
  width: 100%;
  height: 450px;
  display: flex;
}

.call_to_action {
  width: 100%;
  height: 250px;
  display: flex;
}

.call_to_action .light_blue {
  background-color: #DCD4CA;
  width: 100%;
}



/*Footer of index page */
.footer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.box {
  width: 50%;
  height: 100%;
}

.boxes {
  width: 33%;
  height: 400px;
}


.dark_blue {background-color: blue;}
.light_blue {background-color: #18b6fd;}
.green {background-color: green;}


.wrapper.hero {
  background-color:
}
