/*
To make it abit easier for myself, I have added the styles in the order that the elements appear.
*/

• {
  box-sizing: border-box;
}

body {
  background-color: #e5e5e5;
  font-family: Open Sans,Helvetica,sans-serif;
  font-size: 16px!important;
  font-style: normal;
  margin-right: auto;
  margin-left: auto;
}


header {background-color: #000000;}

/* Styling the header */
.top-menu {
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  color: #ffffff;
  background: #000000;
  height: 85px;
  padding: 15px;
  width: 100%;
}

.flex-container {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.vertical-centerer {
  height: 100%;
  flex-direction: column;
  justify-content: center;
}
.header-content {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}
.logo {
  width: 200px;
  display: inline-block;
  margin: 10px 0px;
}
.menu {
  list-style: none;
  list-style-type: none;
}
.menu > li {
  display: inline;
  margin-left: 37.5px;
}

/* End of style for header */


h1, h2 {
  font-family: 'Georgia', serif;
  color: #51453B;
}

h1 { font-size: 1.2em;}

h2 {font-size: 1.0em;}

h3 {color: #FFA500;}

a  {text-decoration: none !important;}

/*Removes indentation from <ul> tag */
ul {
  padding: 0;
}


li {list-style-type: none;}

/*Textual form controls—like <input>s, <select>s, and <textarea>s—are styled with the .form-control class.
 */


/*
nav a button

Tap targets should be bigger that your average finger
which is about 10mm or half an inche or 40CSS pixels in inorder
that fingers can use them . To ensure that all your elements are at least that size,
add min-width 48pixels and min-height 48pixels to every tappable element
*/


nav a, button {
  min-width: 48px;
  min-height: 48px;
  font-size: 14px;
}

a {text-decoration: none;}

.container {
  display: grid;
  max-width: 100%;
  max-height: auto;
}




.row {
  border: 2px dotted red;
}

.col-md-1 {
  width: 100%;
}


/*Select all <div> elements with class="col-md-10"  */
/* The display:flex property here is used to render this element items/columns in a row */
.main {
  background-color: white;
  max-width: 100%;
  max-height: auto;
  display: flex;
  margin-top: 30px;
  margin-bottom: 70px;
  padding-top: 20px;
  padding-bottom: 30px;
}


/*Select all <span> elements with the class="text-muted"  */
span.text-muted {
  color: #e5e5e5;
}


/*Selects all elements with class vl that is a descendant of an element with button */
.vl.button {
  width: 1px;
  height: 3px;
  border-left: 1px solid red;
}




/*Select all <li> elements with the class="flash" */
li.flash {
	list-style-type: none;
	text-align: center;

}

.main.col-md-2 {
  min-width: 100%;
}

.col-md-5 {
  padding-left: 60px;
  margin-left: 30px;
}

.main.col-md-8 {
  min-width: 100%;
}

.flash {
	background-color: #98FB98;
	width:100%;
	text-decoration: none;

}


.vl {
  width: 1px;
  height: 100%;
  border-left: 1px solid #e5e5e5;
}

.padding-top { padding-top: 20px; padding-bottom: 20px;}

.padding-bottom { padding-bottom: 30px; }



.padding-none {
	padding: 0;
}


/*Selects all <div> elements with class="button"*/
div.button {
  display: flex;
  min-width: 48px;
  min-height: 48px;
  font-size: 14px;
}




/*Selects all elements with bt that is a descendant of an element with button */

.bt.button {
  margin-left: 30px;
}

/* Cart styling */
/* > The angle bracket refers to immediate child selector*/
.table>tbody>tr>td, .table>tfoot>tr>td {
    vertical-align: middle;
}
@media screen and (max-width: 600px) {
    table#cart tbody td .form-control{
		width:20%;
		display: inline !important;
	}
	.actions .btn{
		width:36%;
		margin:1.5em 0;
	}

	.actions .btn-info{
		float:left;
	}
	.actions .btn-danger{
		float:right;
	}


/* The gap indicate a descendant selector*/
	table#cart thead { display: none; }
	table#cart tbody td { display: block; padding: .6rem; min-width:320px;}
	table#cart tbody tr td:first-child { background: #333; color: #fff; }
	table#cart tbody td:before {
		content: attr(data-th); font-weight: bold;
		display: inline-block; width: 8rem;
	}



	table#cart tfoot td{display:block; }
	table#cart tfoot td .btn{display:block;}

}
