{% extends "main.html" %}
{% block title %} Cart page {% endblock %}
{% block content %}
{% include "header.html" %}



{% block script %}
<script>
    $(document).ready(function(){
        // Some code to be executed...
        fetch("/catalog/cart/item_title", method = ['PUT']);
    });
</script>
{% endblock %}


<div class = 'flash'>
        {% with messages = get_flashed_messages() %}
    {% if messages %}

      <ul>
      {% for message in messages %}
          <li> <strong> {{ message }} </strong> </li>
      {% endfor %}
      </ul>
      {% endif %}
  {% endwith %}

</div>


<div class="row main d-flex">
  <div class="col-md-1"></div>
  <div class="col-md-10">

    <!--
    The <tr> element defines a table row, the <th> element defines a table header, and the <td> element defines a table cell.
     -->
  {% if cartItems != [] %}
    {% for item in cartItems %}

       <table id="cart" class="table table-hover table-condensed">
            <!--Table head -->
               <thead>
                 <tr>
                   <th class="col-md-6">Product</th>
                   <th class="col-md-1">Price</th>
                   <th class="col-md-1">Quantity</th>
                   <th class="col-md-1" class="text-center">Subtotal</th>
                   <th class="col-md-1"></th>
                 </tr>
               </thead>
              <!--Table body -->
               <tbody>
                 <tr>
                   <td data-th="Product">
                     <div class="row">
                       <div class="col-md-2 hidden-xs"><img src="http://placehold.it/100x100" alt="item-photo" class="img-responsive"/></div>
                       <div class="col-md-4">
                         <h4 class="nomargin"><strong>{{ addItemToCart.title }}</strong></h4>
                         <p>{{ addItemToCart.description }}</p>
                       </div>
                     </div>
                   </td>
                   <td data-th="Price" class="col-md-1">{{ float(addItemToCart.price) }}</td>
                   <td data-th="Quantity" class="col-md-1">
                     <input type="number" class="form-control text-center" value="1">
                   </td>
                   <td data-th="Subtotal" class="text-center col-md-1">{{ item.price}}</td>
                   <td class="button padding-top, padding-bottom actions">
                     <a class="text-danger" href="#"><div class="col-md-1">Delete</div></a>
                   </td>
                 </tr>
               </tbody>
              <!--Table foot -->
               <tfoot>
                 <tr class="visible-xs"> <!--Visible on extra small devices -->
                   <td class="text-center"><strong>Total 1.99</strong></td>
                 </tr>
                 <tr>
                   <td><a href="{{url_for('showCategory',
                       category_name  = category.name)}}" class="btn btn-warning fa fa-angle-left"> Continue Shopping</a></td>
                   <td colspan="2" class="hidden-xs"></td>
                   <td class="hidden-xs text-center"><strong>Total $1.99</strong></td>
                   <td><a href="{{url_for('checkout')}}" class="btn btn-success btn-block fa fa-angle-right">Checkout</a></td>
                 </tr>
               </tfoot>
           </table>
    {% endfor %}
  {% endif %}
  </div>
  <div class="col-md-1"></div>
</div>



{% endblock%}
