{% extends "main.html" %}
{% block content %}
{% include "header.html" %}



<div class="flash">
        {% with messages = get_flashed_messages() %}
    {% if messages %}

      <ul>
      {% for message in messages %}
          <li> <strong> {{ message }} </strong> </li>
      {% endfor %}
      </ul>
      {% endif %}
    {% endwith %}
</div>


<div class="row main d-flex">
  <div class="col-md-1"></div>

  <div class="col-md-3 category-list">
    <h2 class="text-dark"><strong>Categories</strong></h2>
    <ul>
      {% for category in categories %}
        <li class="text-warning">
          <a href = "{{url_for('showCategory', category_id = category.id)}}">
            <p class="text-warning">{{category.name}}</p>
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
  <div class="vl"></div>

  <div class="col-md-5 item-list">
          <ul>
          {% if items !=[] %} <!--If items is not an empty list-->
              {% for item in items %}
                <h2 class="item-list text-dark">
                  <strong>{{ category.name }} Items ({{[item.category_id].count(item)}} items)
                  </strong>
                </h2>
                {% if item.category_id == item.category.name %} <!--If there is a match -->
                  <ul class="item-list">
                    <li class="text-warning">
                      <a href = "{{url_for('showItem', category_id = category.id,
                            item_id = item.id)}}"><p class="text-warning">{{item.title}}</p>
                      </a>
                    </li>
                  </ul>
                {% endif %}
              {% endfor %}
          {% endif %}
          </ul>
  </div>
  <div class="col-md-1"></div>
</div>

{% endblock %}
