{% extends "main.html" %}
{% block page_name %} {{category.name}} page {% endblock %}

{% block content %}
{% include "header.html" %}



<div class="flash">
        {% with messages = get_flashed_messages() %}
    {% if messages %}

      <ul>
      {% for message in messages %}
          <li> <strong> {{ message }} </strong> </li>
      {% endfor %}
      </ul>
      {% endif %}
    {% endwith %}
</div>


<div class="row main d-flex">
  <div class="col-md-1"></div>

  <div class="col-md-2 category-list">
    <h2 class="text-dark"><strong>Categories</strong></h2>
      {% for category in categories %}
        <a class="text-warning" href = "{{url_for('showCategory',
            category_name  = category.name)}}">
          <div class="text-warning category-list">
            <p>{{category.name}}</p>
          </div>
        </a>
      {% endfor %}
  </div>
  <div class="vl"></div>

  <div class="col-md-8 item-list">
      <div class="vertical-center">
        <div id="itemsWrapper">
          <h2 class="item-list text-dark">
            <strong>{{ category.name }} Items ({{category.categoryItems}} items)
            </strong>
          </h2>
              {% if items !=[] %} <!--If items is not an empty list-->
                  {% for item in items %}
                    <!--showItem opnly accepts category_name and item_title -->
                    <a class="text-warning" href = "{{url_for('showItem', category_name = category.name,
                          item_title = item.title)}}">
                      <div class="text-warning item-list">
                        <p>{{item.title}}</p>
                      </div>
                    </a>
                  {% endfor %}
              {% endif %}

        </div>


        <div class="button padding-top, padding-bottom">
          <a class="text-danger" href="{{url_for('editACategoryName', category_name = category.name ) }}"><div class="col-md-1">Edit</div></a>
          <div class="vl"></div>
          <a class="text-danger" href="{{url_for('deleteCategory', category_name = category.name ) }}"><div class="col-md-1">Delete</div></a>
        </div>



      </div>

    </div>

  <div class="col-md-1"></div>
</div>

{% endblock %}
