{% extends "main.html" %}
{% block page_name %} {{item.title}} delete page {% endblock %}

{% block content %}
{% include "header.html" %}





      <div class = 'flash'>
              {% with messages = get_flashed_messages() %}
          {% if messages %}

            <ul>
            {% for message in messages %}
                <li> <strong> {{ message }} </strong> </li>
            {% endfor %}
            </ul>
            {% endif %}
        {% endwith %}

      </div>



      <div class="row padding-top padding-bottom">
        <div class="col-md-1"></div>
          <div class="col-md-10 main flex-column">
            <div class="vertical-center">
              <div>
                <h1 class="text-dark"><strong>Edit Item</strong><h1>
              </div>
              <div>
                <p>Are you sure you want to delete?</p>
              </div>
              <button type="submit" class="btn btn-outline-warning" formmethod="post">Submit</button>
            </div>
          </div>
        <div class="col-md-1"></div>
      </div>
{% endblock %}
