{% extends "main.html" %}
{% block page_name %} {{category.name}} delete page {% endblock %}

{% block content %}
{% include "header.html" %}


      <div class = 'flash'>
              {% with messages = get_flashed_messages() %}
          {% if messages %}

            <ul>
            {% for message in messages %}
                <li> <strong> {{ message }} </strong> </li>
            {% endfor %}
            </ul>
            {% endif %}
        {% endwith %}

      </div>
      <div class="row padding-top padding-bottom">
        <div class="col-md-1"></div>
          <div class="col-md-10 main flex-column">
            <div class="vertical-center">
              <div>
                <h2 class="text-dark"><strong>Delete category</strong><h2>
              </div>
              <div>
                <p>Are you sure you want to delete {{ category.name}} category?</p>
              </div>
              <form action="{{url_for('deleteCategory', category_name = category.name, category_id = category.id)}}" method= 'post'>
                <button type="submit" class="btn btn-outline-warning">Delete</button>

                <a href='{{ url_for('showCatalog') }}'>
              		<button class="btn btn-outline-warning">Cancel</button>
              	</a>
              </form>
            </div>
          </div>
        <div class="col-md-1"></div>
      </div>
{% endblock %}
