{% extends "main.html" %}
{% block page_name %}  Edit item page {% endblock %}


{% block content %}
{% include "header.html" %}



<div class="row padding-top padding-bottom">
  <div class="col-md-1"></div>
    <div class="col-md-10 main padding-top padding-bottom">
      <div class='col-md-6 col-md-offset-1 padding-top' id='formWrapper'>
        <h1 class="text-dark"><strong>Edit Item</strong><h1>
        <!--Textual form controls—like <input>s, <select>s, and <textarea>s—are styled with the .form-control class -->
        <form action="{{url_for('editItem', category_name = category.name, category_id= category.id, item_title = item.title, item_id=item.id)}}" method='post'>
          <div class="form-group col-md-6">
            <!--Must match for='' in label with name attribute in input -->
            <label for="title">Title:</label>
            <input type="text" name='title' class="form-control" value="{{item.title}}">
          </div>
          <div class="form-group col-md-6">
            <label for="description">Description:</label>
            <textarea type="text" name='description' class="form-control" value="{{item.description}}" rows="5">Description</textarea>
          </div>
          <div class="form-group col-md-6">
            <label for="price">Price:</label>
            <input type="text" name='price' class="form-control" value="{{item.price}}">
          </div>
          <div>
            <!--Address uploaded item image -->
            <input type="file" name="file" accept="image/*" value={{item.image_filename}}><br><br>
            <label for="file">Or supply a link to an image on the web
            </label><br><br>
          </div>
          <!--Address Image url input - optional -->
          <div class="input-group mb-3">
            <input class="input-group-text form-control" type="text" name="basic_url" id="basic_url" value="{{item.basic_url}}">
          </div>


          <div class="form-group col-md-6 dropdown-menu">
            <label for="category">Category list:</label>
            <select type=text name="category" id="category">
              {% for category in categories %}
              <!--Create an if statement that looks for a match between category id and its foreign key in item table. By calling category id and item category_id. -->
                {% if category.id == item.category_id %}
                  <option value="{{category.name}}" selected>{{ category.name}}</option>
                  {% else %}
                  <option value="{{category.name}}">{{ category.name}}</option>
                {% endif %}
              {% endfor %}
            </select>
          </div>
          <button type="submit" class="btn btn-outline-warning">Submit</button>
        </form>
      </div>
    </div>

  <div class="col-md-1"></div>
</div>

{% endblock %}
