<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="{{url_for('static', filename="user-ratingstyles.cess")}}">

<link href="{{url_for('static', filename="pageFlip.cssstyles.cess")}}">
<link href="{{url_for('static', filename="flipbookstyles.css")}}">


</head>
<body>

<h1>Image Flip with Text</h1>
<h3>Hover over the image below:</h3>

<div class="flip-box"><!--The flip box container - set the width and height to whatever you want -->
  <div class="flip-box-inner active"><!--This container is needed to position the front and back side-->
    <div class="flip-box-front">
      <!-- Front Content = item-  -->
      {% for book in books %}

        {% for page in frontPages%}

      {% endfor %}
    </div>
    <div class="flip-box-back">
      <!--Back Content Item -->
      {% for page in backPages %}

      {% endfor%}


    </div>
  </div>
</div>

<script>
        var currentPage = 0;

    $('.book')
    .on('click', '.active', nextPage)
    .on('click', '.flipped', prevPage);

    $('.book').hammer().on("swipeleft", nextPage);
    $('.book').hammer().on("swiperight", prevPage);

    function prevPage() {

    $('.flipped')
      .last()
      .removeClass('flipped')
      .addClass('active')
      .siblings('.page')
      .removeClass('active');
    }
    function nextPage() {

    $('.active')
      .removeClass('active')
      .addClass('flipped')
      .next('.page')
      .addClass('active')
      .siblings();


    }
    // Need a for loop script to select elements
</script>
</body>
</html>
