<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="{{url_for('static', filename="ratingstyles.cess")}}">

<link href="{{url_for('static', filename="pageFlip.cssstyles.cess")}}">


</head>
<body>

<h1>Image Flip with Text</h1>
<h3>Hover over the image below:</h3>

<div class="flip-box"><!--The flip box container - set the width and height to whatever you want -->
  <div class="flip-box-inner active"><!--This container is needed to position the front and back side-->
    <div class="flip-box-front">
      <!-- Content = item-card  -->
      <div class="container grid row" id="card">
        <div class="image-wrapper">
          <div class="image-inner"><a href="#"></a></div>
        </div>
        <div class="card-content-wrapper grid">

          <div class="card-heading-wrapper">
            <div>
              <section class="score-panel">
                <span class="reviews">User Rating</span>
                <ul class="stars">
                  <li><i class="fa fa-star checked"></i></li>
                  <li><i class="fa fa-star checked"></i></li>
                  <li><i class="fa fa-star checked"></i></li>
                  <li><i class="fa fa-star checked"></i></li>
                  <li><i class="fa fa-star"></i></li>
                </ul>

                <span class="moves">4</span>4 Ratings

                <div class="restart">
                  <i class="fa fa-repeat"></i>
                </div>


                <p>4.1 average based on 254 reviews.</p>
                <hr style="border:1px solid #f1f1f1">
              </section>
            </div>
            <h2>Latest Items</h2>
            <h3 class="#">
              {% for category in categories %} <!-- Run this loop-->
                {% if item.category_id == category.id %}
                  <a href = "{{url_for('showItem', category_name = category.name,
                          item_title = item.title)}}">
                    <div class="col-md-8 text-warning">
                      <p>{{ item.title }}<em class="text-muted">({{ item.category.name }})</em></p>
                    </div>
                  </a>
                {% endif %}
              {% endfor %}
            {% endfor %}
            </h3>
            <div class="cta-wrapper">
              <div></div>
              <div></div>
            </div>
            <hr style="border:1px solid #f1f1f1">
            <div class-"item-details card-inner-lower"><a href="#">ITEM DETAILS</a></div>
          </div>

        </div>

        <div class="grid reviews-display">
          <!-- wrap these in rows-->
          <div class="row">
            <div class="side">
              <div>5 star</div>
            </div>
            <div class="middle">
              <div class="bar-container">
                <div class="bar-5"></div>
              </div>
            </div>
            <div class="side right">
              <div>150</div>
            </div>
          </div>

          <div class="row">
            <div class="side">
              <div>4 star</div>
            </div>
            <div class="middle">
              <div class="bar-container">
                <div class="bar-4"></div>
              </div>
            </div>
            <div class="side right">
              <div>63</div>
            </div>
          </div>

          <div class="row">
            <div class="side">
              <div>3 star</div>
            </div>
            <div class="middle">
              <div class="bar-container">
                <div class="bar-3"></div>
              </div>
            </div>
            <div class="side right">
              <div>15</div>
            </div>
          </div>

          <div class="row">
            <div class="side">
              <div>2 star</div>
            </div>
            <div class="middle">
              <div class="bar-container">
                <div class="bar-2"></div>
              </div>
            </div>
            <div class="side right">
              <div>6</div>
            </div>
          </div>

          <div class="row">
            <div class="side">
              <div>1 star</div>
            </div>
            <div class="middle">
              <div class="bar-container">
                <div class="bar-1"></div>
              </div>
            </div>
            <div class="side right">
              <div>20</div>
            </div>
          </div>
        </div> <!--End of Display for rewiews -->
      </div>
    </div> <!--Front Content -->
    </div>
    <div class="flip-box-back">
      <!--Content back -->
      <h2>Latest Items</h2>
      <p>Add to cart</p>
      <!-- Content = item-card  -->
      <div class="container grid row" id="card">
        <div class="image-wrapper">
          <div class="image-inner"><a href="#"></a></div>
        </div>
        <div class="card-content-wrapper grid">

          <div class="card-heading-wrapper">
            <div>
              <section class="score-panel">
                <span class="reviews">User Rating</span>
                <ul class="stars">
                  <li><i class="fa fa-star checked"></i></li>
                  <li><i class="fa fa-star checked"></i></li>
                  <li><i class="fa fa-star checked"></i></li>
                  <li><i class="fa fa-star checked"></i></li>
                  <li><i class="fa fa-star"></i></li>
                </ul>

                <span class="moves">4</span>4 Ratings

                <div class="restart">
                  <i class="fa fa-repeat"></i>
                </div>


                <p>4.1 average based on 254 reviews.</p>
                <hr style="border:1px solid #f1f1f1">
              </section>
            </div>
            <h2>Latest Items</h2>
            <h3 class="#">
              {% for category in categories %} <!-- Run this loop-->
                {% if item.category_id == category.id %}
                  <a href = "{{url_for('showItem', category_name = category.name,
                          item_title = item.title)}}">
                    <div class="col-md-8 text-warning">
                      <p>{{ item.title }}<em class="text-muted">({{ item.category.name }})</em></p>
                    </div>
                  </a>
                {% endif %}
              {% endfor %}
            {% endfor %}
            </h3>
            <div class="cta-wrapper">
              <div></div>
              <div></div>
            </div>
            <hr style="border:1px solid #f1f1f1">
            <div class-"item-details card-inner-lower"><a href="#">ITEM DETAILS</a></div>
          </div>

        </div>

        <div class="grid reviews-display">
          <!-- wrap these in rows-->
          <div class="row">
            <div class="side">
              <div>5 star</div>
            </div>
            <div class="middle">
              <div class="bar-container">
                <div class="bar-5"></div>
              </div>
            </div>
            <div class="side right">
              <div>150</div>
            </div>
          </div>

          <div class="row">
            <div class="side">
              <div>4 star</div>
            </div>
            <div class="middle">
              <div class="bar-container">
                <div class="bar-4"></div>
              </div>
            </div>
            <div class="side right">
              <div>63</div>
            </div>
          </div>

          <div class="row">
            <div class="side">
              <div>3 star</div>
            </div>
            <div class="middle">
              <div class="bar-container">
                <div class="bar-3"></div>
              </div>
            </div>
            <div class="side right">
              <div>15</div>
            </div>
          </div>

          <div class="row">
            <div class="side">
              <div>2 star</div>
            </div>
            <div class="middle">
              <div class="bar-container">
                <div class="bar-2"></div>
              </div>
            </div>
            <div class="side right">
              <div>6</div>
            </div>
          </div>

          <div class="row">
            <div class="side">
              <div>1 star</div>
            </div>
            <div class="middle">
              <div class="bar-container">
                <div class="bar-1"></div>
              </div>
            </div>
            <div class="side right">
              <div>20</div>
            </div>
          </div>
        </div> <!--End of Display for rewiews -->
      </div>
    </div> <!--Back Content -->
    </div>
  </div>
</div>
<script>
        var currentPage = 0;

    $('.book')
    .on('click', '.active', nextPage)
    .on('click', '.flipped', prevPage);

    $('.book').hammer().on("swipeleft", nextPage);
    $('.book').hammer().on("swiperight", prevPage);

    function prevPage() {

    $('.flipped')
      .last()
      .removeClass('flipped')
      .addClass('active')
      .siblings('.page')
      .removeClass('active');
    }
    function nextPage() {

    $('.active')
      .removeClass('active')
      .addClass('flipped')
      .next('.page')
      .addClass('active')
      .siblings();


    }
    // Need a for loop script to select elements
</script>
</body>
</html>
