    <header>
      <div class="row top-menu">
        <div class="vertical-centerer flex-container">
          <div class="flex-container space-between header-content">
            <div>
              <span>
                <a id='appName' href="{{url_for('showCatalog')}}">
            			<span class="glyphicon glyphicon-home" aria-hidden="true"></span> Catalog
            		</a>
              </span>
            </div>
            <div>
              <ul class="menu">
                    <!--Conditional login and logout links-->
                  {% if 'username' in login_session %}

                  <li><a id='logout' type="button" class="btn btn-warning btn-lg"   href="{{url_for('disconnect')}}">Logout</a></li>

                  {% else  %}
                  <li><a type="button" class="btn btn-warning btn-sm" href="{{url_for('showLogin')}}">Login</a></li>
                       
                  {% endif%}
                    <li>
                      <a id='logout' type="button" class="btn btn-default btn-sm" href="#">Sign in</a>
                    </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

    </header>
