<!DOCTYPE html>
<!-- TODO:
  Item card
  Item flip card
  Flip book of all items by user from their item cards - paid service
  All on individual html page  -->
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Media Platform</title>

    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='indexstyles.css') }}">

    <!--Google Font -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>


    <!--Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">



  </head>
  <body>
    <div class="container">
      <header>
	      <div class="header-wrapper">
		      <div class="row">
			   <div class="col-sm-9 flex-container">
				<div class="col-sm-2">
			  		<span>
			    			<img class="logo" src="Buz_Logo_SVG_200x35.svg" alt="Datafrica Logo">
			  		</span>
				</div>
				<div class="col-sm-6">
				  <form>
					  <div class="flex-container col-sm-7" id="form-container">
						  <div class="dropdown-card col">
						     <div class="btn btn-secondary dropdown-toggle col" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span>All</span><i class="caret"></i>
							    <select class="dropdown-menu custom-select"> <!--This element is labelled by ID above -->
								<option selected="selected" value="All Categories" aria-describedby="searchDropdownDescription">All Categories</option>
								<option value="Hotels">Hotels</option>
								<option value="Restaurants">Restaurants</option>
								<option value="Bars and nightlife">Bars and Nightlife</option>
								<option value="Leisure">Leisure</option>
								<option value="Delivery and Removal">Delivery and Removal</option>
								<option value="Venue Booking">Venue Booking</option>
								<option value="Home services & Garden">Home services & Garden</option>
								<option value="Education">Education & Courses</option>
								<option value="Electronics">Electronics and accessories</option>
								<option value="Professional services">Professional servicess</option>
								<option value="Automobile, Sales, Rentals, Repairs">Automobile, Sales, Rentals, Repairs</option>
								<option value="Shopping">Shopping</option>
								<option value="Fashion & Beauty">Fashion & Beauty</option>
								<option value="Retail">Retail</option>
								<option value="Sports & Fitness">Sports & Fitness</option>
								<option value="Utility">Utility</option>
								<option value="Healthcare">Healthcare</option>
								<option value="Information Technology">Software</option>
								<option value="Finance and insurance">Finance</option>
								<option value="Media & Entertainment">Media & Entertainment</option>
								<option value="Real Estate">Real Estate</option>
								<option value="Toys and Games">Toys and Games</option>
								<option value="Grocery">Grocery</option>
								<option value="Tranportation">Transportation</option>
							</select>  
						</div>
				    	</div><!--End of dropdown card -->
					  
				    	<div id="nav-input-fields col-sm-6">
				      		<input type="search" id="category" value="">
						<label for="city">City </label>
						<input type="search" id="location" value="">	
				    	</div>
				    	<div class="col" id="submit">	  
				      		<button class="btn btn-primary" id="submit-btn">Submit</button>
				    	</div>
						  
				    </div>
				  </form>
				</div>	   
			   </div>
			   <div class="col-sm-3">
			     <ul class="menu">
			       <li>My account</li>
			       <li>Catalog</li>
			     </ul>
			   </div>
		      </div><!--Row close tag -->

		      <div class="vertical-centerer flex-container">
			  <div class="flex-container space-between header-content">
			    <div>
				    <a id='appName'  class="header_logo" href="{{url_for('showIndex')}}"><div class="logo"><svg height="30" viewBox="0 0 30 30" width="30" src="{{ url_for('static', filename='buz_logo.svg') }}"></svg></div></a>
			    </div>
			    <div>
			      <ul class="menu">
				 <li><a>Submit Rating</a></li>
				 <li><a>For Enterprise</a></li>

				<!--Conditional login and logout links-->
			      {% if 'username' in login_session %}
				<li><a id='logout' type="button" class="btn btn-warning btn-lg"   href="{{url_for('disconnect')}}">Logout</a></li>
			      {% else  %}
				<li><a type="button" class="btn btn-warning btn-sm" href="{{url_for('showLogin')}}">Login</a></li>
			      {% endif%}
				<li>
				  <a id='logout' type="button" class="btn btn-info btn-sm" href="#">Sign in</a>
				</li>
				<li>
				  <a id="menu" class="header__menu">
				    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
				      <path d="M2 6h20v3H2zm0 5h20v3H2zm0 5h20v3H2z"/>
				    </svg>
				  </a>
				</li>
			      </ul>
			    </div>
			  </div>
			</div>
	      </div> <!--Header-wrapper -->    
      </header>

      <main>
        <section class="content">
          <div class="wrapper grid-container row">
            <div class="hero justify-content">
              <section>
                <div>
                  <h2 class="title">Built for eCommerce to</br>unlock the full potential of your digital Ads</h2>
                  <p class="name"> Up load it, publish it, </br>
                  share it and embed it.</p>
                </div>
                <div class="call_to_action" id="request-a-demo">
                  <div class="buttons">
                    <button type="button" class="btn btn-info">Get started</button>
                    <button type="button" class="btn btn-warning">Request a Demo</button>
                  </div>
                </div>
              </section>
              <section>
                <div class=" box datafrica_flip_book">
                  <div class="top">
                    <video class="image-responsive" width="456" height=340"" controls poster="{{url_for('static', filename="catalog_poster.jpeg")}}"
                    <!--To make video eleent clicable -->
                          onclick="this.play();">
                      <!--Let's provide multiple formats of our video -->
                      <source src="assets/venice.mp4", type="video/mp4">
                      <source src="assets/venice.ogv", type="video/ogg">
                      <source src="assets/venice.webm", type="video/webm">
                      Your browser does not support HTML_5 video.
                    </video>
                  </div>
                </div>
              </section>
            </div> <!--Banner end-->


            <h2> Digital catalog</h2>
            <p>On flip book, flip card or video. High definition graphics to delight your customers.
            For eCommerce, publishers, shop owners. Automate catalog creation from pdf</p>

            <div class="product video justify-content">
              <section>
                <div class="box datafrica_video_card">
                  <div class="top">
                    <video class="image-responsive" width="456" height=340"" controls poster="{{url_for('static', filename="beta_release.jpeg")}}"
                          onclick="this.play();">
                          <!--To make video eleent clicable -->
                      <!--Let's provide multiple formats of our video -->
                      <source src="{{url_for('static', filename="beta_release.mp4")}}", type="video/mp4">
                      <source src="{{url_for('static', filename="beta_release.ogv")}}", type="video/ogg">
                      <source src="{{url_for('static', filename="beta_release.webm")}}", type="video/webm">
                      <source src="{{url_for('static', filename="beta_release.mov")}}", type="video/mov">
                      Your browser does not support HTML_5 video.
                    </video>
                  </div>
                </div>
              </section>
              <section>
                <div class="box">
                  <h3>Native Video</h3>
                  <p>Personalised space with your own name and your own video ready for sharing on your website, email and social media
                  </p>
                </div>
              </section>
            </div><!--End of product video card -->
            <div class="product flip_card justify-content">
              <section>
                <div class="box">
                  <h2 class="name"> Display an item on Datafrica flip card</h2>
                  <p>Publish, share and embed import. Place your "Add to cart" button for delighted customers to imeediately buy at your website..
                  </p>
                </div>
              </section>
              <section>
                <div class=" box datafrica_flip_book">
                  <div class="top">
                    <video class="image-responsive" width="456" height=340"" controls poster="{{url_for('static', filename="catalog_poster.jpeg")}}"
                    <!--To make video eleent clicable -->
                          onclick="this.play();">
                      <!--Let's provide multiple formats of our video -->
                      <source src="assets/venice.mp4", type="video/mp4">
                      <source src="assets/venice.ogv", type="video/ogg">
                      <source src="assets/venice.webm", type="video/webm">
                      Your browser does not support HTML_5 video.
                    </video>
                  </div>
                </div>
              </section>
            </div> <!--Flip card end-->
            <div class="cta flex container">
              <div class="box light_blue">
                Catalogs that is programmable for ecommerce, publishing and digital advertising.
              </div>
            </div> <!--End of Flip card -->
            <footer>
              <div class="footer grid flex-container">
                <div class="footer-links">
                  <div class="row">
                    <div class="col-md-3 col-xl-3 col-xl-offset-1">
                      <div>
                        <h2>COMPANY</h2>
                        <div>
                          <hr style="border:0.5px solid #d9d9d9">
                          <ul class="list-unstyled">
                            <li>About us</li>
                            <li>Contact us</li>
                            <li>Terms of Service</li>
                            <li>Privacy Policy</li>
                            <li>Accessibility</li>
                            <li>Trust and Safety</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3 col-xl-3">
                      <div>
                        <h2>RESOURCES</h2>
                        <div>
                          <hr style="border:0.5px solid #d9d9d9">
                          <ul class+"list-unstyled">
                            <li>Customer help</li>
                            <li>Customer stories</li>
                            <li>Blog</li>
                            <li>Reviews</li>
                            <li>APIs</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3 col-xl-3">
                      <div>
                        <h2>SOLUTIONS</h2>
                        <div>
                          <hr style="border:0.5px solid #d9d9d9">
                          <ul class="list-unstyled">
                            <li>eCommerce catalog</li>
                            <li>Flipbooks</li>
                            <li>Integration</li>
                            <li>Animation</li>
                            <li>Embeded images and Videos</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="footer-social footer-social-icons col-md-3 col-xl-3">
                      <div>
                        <h2>SOCIAL</h2>
                      </div>
                      <div>
                        <hr style="border:0.5px solid #d9d9d9">
                        <ul class="list-inline">
                          <!-- Add font awesome icons -->
                          <li><a href="#" class="fa fa-facebook"></a></li>
                          <li><a href="#" class="fa fa-twitter"></a></li>
                          <li><a href="#" class="fa fa-linkedin"></a></li>
                          <li><a href="#" class="fa fa-youtube"></a></li>
                          <li><a href="#" class="fa fa-instagram"></a></li>
                          <li><a href="#" class="fa fa-reddit"></a></li>
                        </ul>
                      </div>
                      <div class="footer-download">
                        <div>
                          <h2>Mobile app</h2>
                        </div>
                        <div>
                          <ul class+"list-unstyled">
                            <li><i class="fab fa-android"></i></li>
                            <li><i class="fab fa-apple"></i></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <p class="copy-right text-center">
                  <small>© 2020 DATAFRICA</small>
                </p>
              </div>
            </footer>
          </div><!-- End of wrapper-->
        </section>
      </main>

    </div>
  </body>
</html>

