<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Datafrica log in page</title>

    <!--For google custom buttons -->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">

    <!--My custome css -->
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">

    <!--Bootsrap -->
    <!--Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <!-- BEGIN Pre-requisites -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  <script src="https://apis.google.com/js/client:platform.js?onload=start" async defer>
  </script>
  <!-- END Pre-requisites -->

    <!--Facebook-->
    <script async defer src="https://connect.facebook.net/en_US/sdk.js">
    </script>

    <!--Google SDK -->
    <script>
        function start() {
          gapi.load('auth2', function() {
            auth2 = gapi.auth2.init({
              client_id:        '#',
              scope:             'profile email',
              return_scopes:     true
            });
          });
        }
      </script>


    <!--This code goes out to google to authenticate our user-->

  </head>


  <body id="login">
    <header id="loginHeader" class="social-login">
      <div><span class="brand">DATAFRICA</span></div>
    </header>
    <section id="login-section">
      <div class="inner-container">
          <div class="grid vertical-center col-md-5 white" id="content-wrapper">
            <!--GOOGLE -->
            <div class="grid-cell login-wrapper">
              <h3 class="row">Login in to your account</h3>
            </div>


            <div class="form-wrapper login-wrapper">
              <form>
                <div id="oauth-wrapper grid">
                  <div class="form-group grid-cell row">
		    <label for="email">Email:</label><br>
		    <input class="hundred-percent" type="text" name="email" placeholder="Email"><br>
		    <small id="emailHelp">We'll never share your email with anyone else!</small>

                  </div>
                  <div class="form-group grid-cell row">
                      <label for="password">Password:</label><br>
                      <input class="hundred-percent" type="text"name="password" placeholder="Password"><br>
                  </div>
                  <div class="form-group grid-cell row">
		    <div>
			<button class="btn btn-secondary btn-lg btn-block hundred-percent row">Sign in</button>
		    </div>
                  </div>
                </div>
      
            <!--End of personal Email and password Log in-->
            <div id="oauthWrapper" class="row">
              <div class="gri-cell"><small>or sign in with</small></div>
            </div>
            <div class="grid row oauth-wrapper space-between" id="oauthWrapper">
              <!-- For google -->
              <div class="grid-cell google left fifty-percent col-sm" id="gSignInWrapper">
                <!--In the callback, you would hide the gSignInWrapper element on a successful sign in-->
                <button class="google customGPlusSignIn" id="customBtn">
                  <span class="icon" id="signinButton">
                      <img src ="{{url_for('static', filename='btn_google_light_normal_ios.svg')}}" aria-hidden="true" width="46" height="46" veiwBox="0 0 46 46">
                  </span>
                  <span class="buttonText">Sign in with Google</span>
                </button>
              </div><!--End google cell -->

              <div class="grid-cell facebook right fifty-percent col-sm" id="fSignInWrapper">
                <button class="facebook" id="customBtn">
                  <span class="icon"  scope="public_profile, email" onlogin="checkLoginState();">
			  <img src ="{{url_for('static', filename='Facebook_F_logo.svg')}}" aria-hidden="true" width="46" height="46" veiwBox="0 0 46 46"></span>
                  </span>
		  <span class="buttonText">Sign in with Facebook</span>
                </button>
              </div><!--Endof facebook grid-->



            </div> <!--End of grid for federated sign in -->

            <div class="grid-cell">
              <ul class="space-between">
                <li>New to Datafrica?</li>
                <li> &#42;  Create an Account</li>
              </ul>
            </div>
	</form>
      </div>
        <script>

            // Handles the response google send back to the client.
            // Load the authorisation code
            // Google opens your authorization endpoint in the user's browser

            // Handles the returned auth code.
            $('#gSignInWrapper').click(function() {
              // This is the callback function
              function signInCallback(authResult) {
                if (authResult['code']) {
                  // Now that the app is authorized, hide the signinButton
                  $('#gSignInWrapper').attr('style', 'display:none');

                  // Send the one-time code to the server
                  $.ajax({
                    type: 'POST',
                    url: '/gconnect?state={{STATE}}',
                    // Prevent jQuery from processingthe data into a string
                    processData: false,
                    data: authResult['code'],
                    // Always include an `X-Requested-With` header in every AJAX request, to protect against CSRF attacks.
                    headers: {
                              'X-Requested-With': 'XMLHttpRequest'
                    },
                    contentType: 'application/octet-stream; charset=utf8',
                    // prevents jquery processing data into a string.
                    processData: false,
                    // We specify the data we sending to our server.
                    // The one-time use code.
                    data: authResult['code'],
                    success: function(result) {
                      // handle or verify the server response.
                      if (result) {
                        // if the server has any info to pass to the
                        //client, we can present it with the result
                        //variable
                        $('#result').html('Login Successful!</br>' + result + '</br>Redirecting...');
                        setTimeout(function () {
                          window.location.href = "/catalog/";
                        }, 4000);// Time out
                    }// Result
                  }// End of successfn.
                }); //Ajax method ends here.
              } else if (authResult['error']) {
                      //There was an error.
                    console.log('There was an error: ' + authResult['error']);
              } else {
                $('#result').html('Failed to make a server-side call. Check your configuration and console');
              }//End of this else.
              }
              auth2.grantOfflineAccess().then(signInCallback);
            });


</script>

<!--This is facebook js code -->
<script>
<!--Facebook SDK -->
          // The beginging of facebook script

              // Facebook authentication
              window.fbAsyncInit = function() {
                FB.init({
                  appId            : '#',
                  autoLogAppEvents : true,
                  xfbml            : true,
                  version          : 'v6.0'
                });
              };

              (function(d, s, id){
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) {return;}
                js = d.createElement(s); js.id = id;
                js.src = "https://connect.facebook.net/en_US/sdk.js";
                fjs.parentNode.insertBefore(js, fjs);
              }(document, 'script', 'facebook-jssdk'));



              $('#fSignInWrapper').click(function() {
                Fb.login(function(response) {
                  if (authResponse['accessToken']) {
                    // Now that the app is authorized, hide the signinButton
                    $('#fSignInWrapper').attr('style', 'display:none');
                    // Send the one-time code to the server
                    $.ajax({
                      type: 'POST',
                      url: '/fbconnect?state={{STATE}}',
                      // Prevent jQuery from processingthe data into a string
                      processData: false,
                      data: authResponse['accessToken'],
                      contentType: 'application/octet-stream; charset=utf8',
                      // Always include an `X-Requested-With` header in every AJAX request, to protect against CSRF attacks.
                      headers: {
                                  'X-Requested-With': 'XMLHttpRequest'
                      },
                      // prevents jquery processing data into a string.
                      processData: false,
                      // We specify the data we sending to our server.
                      // The one-time use code.
                      data: authResponse['accessToken'],
                      success: function(result) {
                        // handle or verify the server response.
                        if (result) {
                          // if the server has any info to pass to the
                          //client, we can present it with the result
                          //variable
                          $('#result').html('Login Successful!</br>' + result + '</br>Redirecting...');
                          setTimeout(function () {
                            window.location.href = "/catalog/";
                          }, 4000);// Time out
                      }// Result
                    }// End of successfn.
                  }); //Ajax method ends here.
                } else if (authResponse['not_authorized']) {
                        //There was an error.
                      console.log('There was an error: ' + authResponse['not_authorized']);
                } else {
                  $('#result').html('Failed to make a server-side call. Check your configuration and console');
                }//End of this else.
              });
            }, {
                scope: 'public_profile email',
                return_scopes: true
            }
          );
         // The end of facebook script
</script>


        <div id="result"></div><!--Empty div to populate the response from the server on succssful login  -->
      </div><!--End of inner-container  -->
    </section>

  </body>
</html>
