<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <!--My custome css -->
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">

    <title>Datafrica log in page</title>

  <script type="text/javascript" src="{{ url_for('static', filename='login.js') }}" async defer></script>


    <!--This code goes out to google to authenticate our user-->

  </head>


  <body id="login">
    <header id="loginHeader" class="social-login">
      <div><span class="brand">DATAFRICA</span></div>
    </header>
    <section class="vertical-center fd-column flex-container form-item social-login" id="login-session">
      <div class="size-of-col">
        <div class="vertical-center flex-container space-between login-content grid">
          <div class="grid vertical-center fd-column"> <!--GOOGLE -->
            <div class="grid-cell">
              <h3>Login in to your account</h3>
            </div>


            <div class="grid vertical-center fd-column">
              <form>
                <div class="grid-cell">
                  <div class="grid fd-column">
                    <label>Email</label>
                    <div><input class="grid-cell"placeholder="Email"></div>
                    <small id="emailHelp">We'll never share your email with anyone else!</small>
                  </div>
                </div>
                <div class="grid-cell">
                  <div class="grid fd-column">
                    <label>Password</label>
                    <div><input class="grid-cell" placeholder="Password"></div>
                  </div>
                </div>
                <div class="grid-cell btn btn-dark" type="submit">
                  <button class="btn btn-link grid-cell customBtn">Sign in</button>
                </div>
              </form>
            </div>
            <!--End of personal Email and password Log in-->
            <div><span>Or</span></div>
            <div class="grid-cell">
              <p>Sign in with</p>
            </div>
            <div class="grid vertical-center fd-column">

              <div class="grid-cell">
                <button class="google grid-cell customBtn" id="my-signin2">
                  <img src ="{{url_for('static', filename='Google_G_logo.svg')}}" aria-hidden="true" width="24" height="24" veiwBox="0 0 24 24">
                  <span>Google</span>
                </button><!--End of google cell -->
              </div>

              <div class="grid-cell">
                <button class="facebook gird-cell customBtn">
                  <fb:button scope="public_profile, email" onlogin="checkLoginState();">
                      <img src ="{{url_for('static', filename='Facebook_F_logo.svg')}}" aria-hidden="true" width="24" height="24" veiwBox="0 0 24 24">
                      <span>Facebook</span>
                  </fb:button><!--Endof facebook grid-->
                </button>
              </div>

            </div> <!--End of grid for federated sign in -->

            <div class="grid-cell">
              <ul class="space-between">
                <li>Can't log in?</li>
                <li> &#42;  Sign up for an account</li>
              </ul>
            </div>

        </div> <!--Flex contain ends -->


        <div id="result"></div><!--Empty div to populate the response from the server on succssful login  -->
      </div><!--End of vertical flex container with column flex direction  -->
    </section>
            
  </body>
</html>
