<!DOCTYPE html>
<html lang="en">
	<head>
	{% block head %}
		<meta charset="utf-8">
		<title>{% block page_name %}{% endblock %}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!--Google Font -->
		<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>

		<!--Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">


		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
	{% endblock %}

	</head>
	<body>
		<div class="container">
			{% block content %}
			{% endblock %}
		</div>
	</body>
		<script type=text/javascript src="{{ url_for('static', filename='scripts.js') }}"></script>
</html>
