{% extends "main.html" %}
{% block title %}Item page {% endblock %}
{% block script %}


<script>
  // The ready function listens for the document-loading event for
  // when the DOM is ready.
  $('document').ready(function() {
    // Some code to be executed...
    // Listening for click, with the callback function addItemToCart
    $('#addToBasket').on("click", addItemToCart);
  });
  // We use the keyword fucntion to call a js method.
  function addItemToCart(evt) {
    //Use the data function to set the content of the #aadToBasket div.
    $('#addToBasket').data(
                            "title": item_title,
                            "description": description,
                            "price": float(),
                            "quantity": int(),
                            "properties": {
                              "shipping_charge": 0.0
                            });
  }
  /*
  $('#addToBasket').click(function) {
    //Call the addItemToCart method, and parse the product parameters
    //The keyword function is used to call js method.
    function addItemToCart(item_title, description, price, quantity) {
      data = {
        "id": item_id,
        "price": float();
        "quantity": quantity,
        "properties": {
          "currency_symbol": = £,
          "currency_code": = GPD,
          "shipping_charge": 0.0,
        }
      }
      s.ajax({
        type: 'POST',
        url: '/catalog/cart/<item_title>/add',
        data: data,
        dataType: 'json',
        success: function() {
          window.location.href = '/cart';
        }
      });
      window.location = '/checkout';
    }
  });
  */

</script>


{% endblock %}
{% block content %}
{% include "header.html" %}

<!--TODO <script> to send arguement to addToCart -->

<div class = 'flash'>
        {% with messages = get_flashed_messages() %}
    {% if messages %}

      <ul>
      {% for message in messages %}
          <li> <strong> {{ message }} </strong> </li>
      {% endfor %}
      </ul>
      {% endif %}
  {% endwith %}

</div>

<div class="row main padding-top padding-bottom">
  <div class="col-md-1"></div>
  <div class="col-md-10 padding-top padding-bottom">
      <div class="item">
        <h2 class="title text-dark text-black"><strong>{{ item.title }}</strong></h2>
        <p>{{item.description}}</p>
        <p class="price">{{item.price}}</p>
        <div id="selling">
          <div class="button padding-top, padding-bottom col-md-2">
            <a class="text-warning" href="{{url_for('deleteItem', category_name = category_name, item_title = item_title) }}">Buy Now</a>
          </div>
          <div class="vl"></div>
          <div class="col-md-2">
            <a class="text-warning" id="addToBasket" type="button"     href="{{url_for('addItemToCart', item_title = item_title)}}">Add to Basket
            </a>
          </div>
        </div>
      </div>

  </div>
  <div class="col-md-1"></div>
</div>


{% endblock %}
