{% extends "main.html" %}
{% block title %}Item page {% endblock %}
{% block script %}

<script>
//jQuery ready method 
 $(#addToCart).click(function(){
   //some code to executed...
   function addToCartCallback(addItemCart){
     //ajax HTTP request with PUT.
     s.ajax({
       type: 'PUT',
       //endpoint address
       url: '/catalog/<category_name>/<item_title>/',
       // Always include an `X-Requested-With` header in every AJAX request,
       // to protect against CSRF attacks.
       headers: {
       'X-Requested-With': 'XMLHttpRequest'
       },
       contentType: 'application/octet-stream; charset=utf-8',
       success:function(result){
         $('#cart').html('Cart updated </br>'+ result + '</br>Redirecting...')
              setTimeout(function() {
               window.location.href = "/catalog/cart/";
              }, 2000);
       },
       processData:false,
       data: { addItemToCart['item_title'], addItemToCart['description'], addItemToCart['price'] }
     });
   }
 });

</script>
{% endblock %}
{% block content %}
{% include "header.html" %}

<!--TODO <script> to send arguement to addToCart -->

<div class = 'flash'>
        {% with messages = get_flashed_messages() %}
    {% if messages %}

      <ul>
      {% for message in messages %}
          <li> <strong> {{ message }} </strong> </li>
      {% endfor %}
      </ul>
      {% endif %}
  {% endwith %}

</div>



<div class="row main padding-top padding-bottom">
  <div class="col-md-1"></div>
  <div class="col-md-10 padding-top padding-bottom">
      <div class="item">
        <h2 class="title text-dark text-black"><strong>{{ item.title }}</strong></h2>
        <p>{{item.description}}</p>
        <p class="price">{{item.price}}</p>
        <div id="selling">
          <div class="button padding-top, padding-bottom col-md-2">
            <a class="text-warning" href="{{url_for('deleteItem', category_name = category_name, item_title = item_title) }}">Buy Now</a>
          </div>
          <div class="vl"></div>
          <div class="col-md-2">
            <!--Construct to send one arguement to the method (item_title) -->
            <a class="text-warning" onclick="addToCart({{item_title}})" id="addToCart" type="button" href="{{url_for('addToCart') }}">Add to Basket</a>
          </div>
        </div>
      </div>

  </div>
  <div class="col-md-1"></div>
</div>


{% endblock %}
